@charset "utf-8";

@import url(./common.css);

/* link */
a,
a:focus,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--color-main);
}

/* align */
.t_center {
  text-align: center;
}
.t_left {
  text-align: left;
}
.t_right {
  text-align: right;
}

/* layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* main */
.gapBox {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cont01 .title {
  font-size: 7vw;
  text-align: center;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
}

.cont01 span {
  display: block;
  color: transparent;
  -webkit-text-stroke: 2px #2c48d2;
}

.cont02 .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5vw;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  z-index: 10;
  font-weight: 700;
}

.cont02 .circle {
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  width: 156.25rem;
  height: 156.25rem;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #222;
}

.cont03 {
  background-color: #222;
}

.cont03 .title {
  display: block;
  font-size: 6vw;
  text-align: center;
  color: #888;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1240px) {
  /* layout */
  .container {
    padding: 0 1.25rem;
  }
}
